/* https://github.com/codebucks27/React-reusable-components/blob/master/react-modal/src/Components/modal.scss */

.modalContainer {
  /* background-color: rgba(255, 255, 255, var(--tw-bg-opacity)); */

  /* opacity: 0; */
  visibility: hidden;
  transition: all 0.2s ease;
  @apply flex justify-center items-center inset-0 fixed overflow-x-hidden overflow-y-auto;
}

.modal {
  width: calc(15rem + 15vw);
  /* border-radius: 20px; */

  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

  /* transform: translateY(-600px); */
  transition: all 0.4s ease;
  @apply bg-white my-6 h-auto mx-auto max-w-3xl p-2 rounded-lg;
}

.model-show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
